// Pick default colours
$blue: blue;
$green: green;
$red: red;
$orange: orange;
$grey: #CCCCCC;
$black: black;

$light-blue: lighten($blue, 10%);
$light-green: lighten($green, 10%);
$light-red: lighten($red, 10%);
$light-orange: lighten($orange, 10%);

$dark-blue: darken($blue, 10%);
$dark-green: darken($green, 10%);
$dark-red: darken($red, 10%);
$dark-orange: darken($orange, 10%);

// Grey shades
$light-grey: lighten($grey, 5%);
$dark-grey: darken($grey, 5%);

// black shades
$light-black: lighten($black, 10%);
