.container
  .row
    .col-md-3

    .col-md-6.text-center
      = image_tag "logo.png", alt: "logo"

      %h1.heading-l How will this product improve the customers life?
      %h2.lead.text-muted explain the primary benifit in more detail

    .col-md-3
