.container
  .row
    .col-md-3

    .col-md-6.text-center
      = image_tag "logo.png", alt: "logo"

      %h1.heading-l How will this product improve the customers life?
      %h2.lead.text-muted explain the primary benifit in more detail

      = render "subscribers/form"

      .benifit.text-left
        %h3.heading-s Primary Benifit
        %p.lead
          Detailed explanination of how this will benifit the customer. Maybe a screenshot in the future.

      .benifit.text-left
        %h3.heading-s Secondary Benifit
        %p.lead
          Detailed explanination of how this will benifit the customer. Maybe a screenshot in the future.

      .benifit.text-left
        %h3.heading-s Third Benifit
        %p.lead
          Detailed explanination of how this will benifit the customer. Maybe a screenshot in the future.


    .col-md-3
