.ba-std{ border: 1px solid darken($light-grey, 2%); }
.bt-std{ border-top: 1px solid darken($light-grey, 2%); }
.bb-std{ border-bottom: 1px solid darken($light-grey, 2%); }
.bl-std{ border-left: 1px solid darken($light-grey, 2%); }
.br-std{ border-right: 1px solid darken($light-grey, 2%); }

.ba-grey{ border: 1px solid $grey; }
.bt-grey{ border-top: 1px solid $grey; }
.bb-grey{ border-bottom: 1px solid $grey; }
.bl-grey{ border-left: 1px solid $grey; }
.br-grey{ border-right: 1px solid $grey; }

.b-red{ border: 1px solid $red; }
.b-blue{ border: 1px solid $blue; }
.b-green{ border: 1px solid $green; }
.b-yellow{ border: 1px solid $orange; }