.navbar-custom{
	border-radius: 0;
	background: $grey-light;
	margin-top: -50px !important;
	margin-bottom: 0 !important;
	
	a.link{
		color: $light-black;
		@include text_shadow(0, 1px, 0, white);
		&:hover, &:focus, &:active, &:disabled{
			color: $black;
			text-decoration: underline;
			background: $grey-light;
		}
	}
	.dropdown{
		a{
		  color: $light-black;
		  &:hover{
		    background: $grey-light;
		    i{
					color: $black;
				}
		  }
		}
		.dropdown-menu{
		  border: 1px solid $grey-darkest;	  
			a{
				&:hover{
					background: $grey !important;
					color: $black;
					i{
						color: lighten($black, 20%);
					}
				}
			}
		}
	}
	//	Hack on clicking off dropdown prevents color being grey
	//	To see effect comment out below, click a navbar dropdown, 
	//	then click off to make it disapear, the dropdown toggle should highlight grey
	.dropdown.open > .dropdown-toggle, li.dropdown.active > .dropdown-toggle, li.dropdown.open.active > .dropdown-toggle {
		background-color: $grey !important;
	}
	
	.navbar-btns{
		margin-top: 9px;
	}
	
	.logo{
		height: 50px;
		a{
			display: block;
			height: 100%;
			padding: 5px;
			padding-right:15px;
			padding-left: 0;
			img{
				width: 131px;
				height: 40px;
			}
		}
	}

	.navbar-toggle{ 
		padding: 0px; 
		margin-top: 15px;
	}
	
	.users-control{
	  
	}
	
	.divider{
	  border-left: 1px solid $grey-dark;
	  height: 20px;
	  margin-top: 15px;
	}
	
	.active-controller{
	  color: $black !important;
	  font-weight: 600;
	}
}

.second-nav{
	border: none;
	margin-bottom: 0;
	z-index: 100 !important;
	li{
		border-right: 1px solid $grey-light;
		&.active{
			a, button{ color: $black; }
			border-bottom: 1px solid $light-black;
		}
	}
	a, button{
		color: $light-black;
		&:hover{
			background: $grey-lightest !important;
			color: $black;
			i.icon-plus{ color: $green; }
		}
	}
	button{
		height: 50px;
		padding-left: 15px;
		padding-right: 15px;
		background: transparent;
		z-index: -100;
	}
	.full-width{
		width: 96%;
	}
	.search-space{
		border: none !important;
		input[type=text]{
			border: none !important;
			height: 50px;
		}
	}
	.navbar-right{
		li{ 
			border-right: none; 
			border-left: 1px solid $grey-light; 
		}
	}
}